/* body {
    background-image: linear-gradient(to right top, #7c50b2, #5c6ebc, #2f88c5, #00a3cf, #00bcd4);
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  .card {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 50px;
   
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0097a7;
  }
  
  .error {
    color: #f44336;
  }
  
  .success {
    color: #4CAF50;
  }
   */